.int{
    /* border: solid 1px; */
    height: 30px;
    width: 30px;
    text-align: center;
}
.table1{
    background-color: gray;
}
.table2{
    background-color: rgb(205, 216, 144);
}
.table3{
    background-color: lightblue;
}
.table4{
    background-color: #FFAAAA;
}
.table5{
    background-color: lightgreen;
}
.table6{
    background-color: yellow;
}
.table7{
    background-color: orange;
}
.table8{
    background-color: salmon;
}
.table9{
    background-color: pink;
}