.int{
    border: solid 1px
}
.table1{
    background-color: gray
}
.table2{
    background-color: white
}
.table3{
    background-color: blue
}
.table4{
    background-color: red
}
.table5{
    background-color: green
}
.table6{
    background-color: yellow
}
.table7{
    background-color: orange
}
.table8{
    background-color: purple
}
.table9{
    background-color: pink
}